.bordered {
  border-radius: 5px;
}
#element-1 {
  background-color: #ff0000;
  font-family: "Arial";
}
#element-1 a {
  color: #ff0000;
  font-family: "Comic sans ms";
  border-bottom: 1px solid #cc0000;
  border-radius: 5px;
}
